:root {
    font-size: 2em;
}

.full, .full > * {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu > * {
    margin-bottom: 1em;
}

.menu > .button {
    font-size: 1.1em;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

.code {
    padding: .5em;
    border: 0;
    margin: 0;
    outline: none;
}

.bar {
    min-height: 1.25em;
    line-height: 1.25;
    padding-left: 0.5ch;
}

.button {
    display: inline-block;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.next-button {
    cursor: pointer;
}

.expression * {
    cursor: pointer;
}

*:hover > .dropdown-content {
    display: block;
}
