* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.1em;
}

.code {
    width: 100%;
    height: 100%;
    padding: .5em;
    border: 0;
    margin: 0;
}

.code span {
    font-size: 1em;
}

.editor {
    resize: none;
}

.code-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.string {
    color: green;
}

.keyword {
    color: mediumpurple;
    font-style: italic;
}

.number, .nil {
    color: dodgerblue;
}

.symbol.function, .var {
    color: orangered;
}

.expr:focus {
    background: yellow;
}

.error {
    color: red;
}

.value {
    color: purple;
}
