:root {
    font-size: 2em;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
}

.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu > * {
    margin-bottom: 1em;
}

.menu > .button {
    font-size: 1.1em;
}

.code {
    outline: none;
}

.story {
    padding: 0.5em;
    margin-bottom: 75vh;
}

.bar {
    min-height: 1.25em;
    line-height: 1.25;
    padding-left: 0.5ch;
}

.button {
    display: inline-block;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.next-button {
    cursor: pointer;
}

.expression * {
    cursor: pointer;
}

.volume-control {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.volume-control::-moz-range-thumb {
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.controls {
    display: flex;
    cursor: default;
}

.controls > .control {
    cursor: pointer;
    text-align: center;
    padding: 0.25em;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.overlay {
    position: fixed;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}

.faded {
    filter: blur(8px);
    z-index: -1;
}

.pause {
    position: fixed;
    bottom: 0.5em;
    right: 0;
}
