:root {
    font-size: 2em;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
}

.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu > * {
    margin-bottom: 1em;
}

.menu > .button {
    font-size: 1.1em;
}

.code {
    outline: none;
}

.story {
    padding: 0.5em;
    margin-bottom: 30vh;
}

.bar {
    min-height: 1.25em;
    line-height: 1.25;
    padding-left: 0.5ch;
}

.button {
    display: inline-block;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.next-button {
    cursor: pointer;
}

.expression * {
    cursor: pointer;
}

.controls {
    display: flex;
}

.controls > .control {
    text-align: center;
    padding: 0.25em;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}
