.string {
    color: green;
}

.keyword {
    color: mediumpurple;
    font-style: italic;
}

.number,
.nil {
    color: cornflowerblue;
}

.bool,
*:nth-child(2) > .symbol {
    color: darkorange;
}

.error {
    color: red;
}

.value {
    color: purple;
}

.comment {
    color: gray;
}

.selected > * {
    background: yellow;
}

.button {
    background: #48c774;
    color: white;
}

.button:hover {
    background: #3ec46d;
}

.button:active {
    background: #3abb67;
}

.button[disabled] {
    background:#48c78e;
    cursor: not-allowed;
}

.volume-control {
    background: gray;
}

.volume-control::-moz-range-thumb,
.volume-control::-webkit-slider-thumb {
    background: #48c774;
}

.overlay {
    background: white;
    box-shadow: 10px 10px 5px gray;
    border: solid 2px #2B2B2B;
}

.dark {
    background: #2B2B2B;
    color: lightgray;
}

.dark .overlay {
    background: #2B2B2B;
    border: solid 2px white;
}

.dark .selected > * {
    background: darkslategray;
}
